*{
    background-color: #121212;
    color: #FFFFFF;
   /* color: #3700B3;*/
}

body{
    display: flex;
    flex-direction: column;
    
}

/* From shoot to wins */
.prompt{
    display: flex;
    flex-direction: column;
    align-items: center;

}

/*The Game*/

    /*STYLE THE BOX*/
.image{
    border: #FFFFFF solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    font-size: xx-large;
    border-radius: 20px;
}

.game{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.screen{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*The Choices*/
.choices{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-container{
    display: flex;
    
}