*{
    background-color: #121212;
    color: #FFFFFF;
}

body{
    display: flex;
    flex-direction: column;
}

h1{
    display: flex;
    align-self: center;
}

.prompt{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.image{
    border: #FFFFFF solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    font-size: xx-large;
    border-radius: 20px;
}

.game{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.screen{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choices{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-container{
    display: flex;
    gap: 10px;
}